.goldBtn {
  color: var(--btnColor);
  border: 1px solid var(--btnColor);
}

.dialogArea {
  color: var(--mainText);
  border: none;
  box-shadow: 3px 3px 5px -3px #000;
  width: 100%;
  background: var(--cardGradient);
}

.closeDialogBtn {
  position: absolute;
  top: 0.7em;
  right: 0.7em
}
