.goldBtn {
  color: goldenrod;
  border: 1px solid goldenrod;
}

.dialogArea {
  color: var(--mainText);
  border: 1px solid var(--cardBorder);
  padding: 1em 2em;
  width: 100%;
  background: var(--cardGradient);
}

.closeDialogBtn {
  position: absolute;
  top: 0.7em;
  right: 0.7em
}
